# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DATABASE=easystack

# MongoDB (full URI)
MONGO_URI=mongodb://localhost:27017/easystack

# App
ENVIRONMENT=local
PORT=3000
LOG_LEVEL=info
LOG_DIR=storage/logs
LOG_IDENTIFIER=easystack
